html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

body {
  background-color: #000000;

  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

select {
  background: #23252f;
  border-radius: 26px;
  color: white;
  padding: 11px 39px;
  border: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: bold;
}

.copy {
  background: #23252f;
  border-radius: 26px;
  color: white;
  border: 0;
  padding: 15px 23px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 21px;
  transition: color 0.3s, background 0.3s;
}

.copy:hover {
  background: white;
  color: #23252f;
}

.start-streaming {
  border: 0;
  background: none;
  cursor: pointer;
  margin-top: 21px;
}

.select_wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.4s;
  border-radius: 26px;
}

.select_wrapper svg {
  position: absolute;
  right: 20px;
}

.button_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button_wrapper span {
  color: white;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.session-users {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
}

.session-users__count {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 13px;

  color: #ffffff;
  margin-right: 8px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.radio.checked .radio__background-inner {
  opacity: 1;
}

.radio label {
  margin-left: 7px;
}

.radio input {
  opacity: 0;
}

.radio__background {
  width: 23px;
  height: 23px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio__background-inner {
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  opacity: 0;
}

.types {
  display: flex;
  margin-bottom: 13px;
}

.radio label {
  font-weight: 600;
  font-size: 14px;

  color: #ffffff;
}
